<!--_layout/default-->
<!DOCTYPE html>
<html>
<head>
	<title>博客</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="main.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
	<div class="welcome">
		<div class="header">
			<div class="container clearfix">
				<ul class="nav">
					<li class="current"><a href="">Blog</a></li>
					<li ><a href="">Work</a></li>
					<li ><a href="">About</a></li>
				</ul>
			</div>
			<a href="/" class="logo">W</a>
		</div>

<!--_layout/default-->

{{ content }}

<!--_layout/default-->
<div class="footer">
		<div class="container clearfix">
			<ul class="icon-wrapper">
				<li class="icon github"><a href="http://github.com/wanghe123"><i class="fa fa-github"></i></a></li>
				<li class="icon email"><a href=""><i class="fa fa-envelope-o"></i></a></li>
				<li class="icon weibo"><a href=""><i class="fa fa-weibo"></i></a></li>
			</ul>
		</div>
	</div>
</body>
</html>
<!--_layout/default-->